Repository athena-framework/athena, pull requests merged in 2024-12, with the labels that each got.

#474 Trusted hosts
  src/components/framework/spec/request_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/bundle.cr
  src/components/framework/src/request.cr
Labels: component:framework, kind:feature

#477 Better WWW form data support
  src/components/framework/spec/compiler_spec.cr
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/spec/request_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/request.cr
Labels: component:framework, kind:feature

#479 Update docs based on new query parameter implementation
  docs/getting_started/middleware.md
  docs/getting_started/routing.md
  docs/getting_started/testing.md
  src/components/framework/src/athena.cr
  src/components/framework/src/controller.cr
  src/components/framework/src/spec/api_test_case.cr
Labels: component:framework, kind:documentation

#480 Fix redirection with non-standard ports
  src/components/framework/spec/controller/redirect_spec.cr
  src/components/framework/spec/routing_spec.cr
  src/components/framework/spec/spec_helper.cr
  src/components/framework/src/controller/redirect.cr
Labels: component:framework, kind:enhancement

#482 Make class level `ARTA::Route` annotation consistent with method level
  src/components/framework/spec/ext/routing/annotation_route_loader_spec.cr
  src/components/framework/src/ext/routing/annotation_route_loader.cr
Labels: kind:bug, component:framework

#484 Fix Latest CI failure due to Ubuntu 24 upgrade
  src/components/framework/spec/spec/web_test_case_spec.cr
  src/components/framework/spec/spec_helper.cr
Labels: kind:bug, component:framework, kind:specs

#485 Fix some incorrect exit codes when using `scripts/test.sh` in some cases
  scripts/test.sh
Labels: kind:bug, component:ecosystem, kind:infrastructure

#483 Add usages for the constraints.
  src/components/validator/src/constraints/blank.cr
  src/components/validator/src/constraints/choice.cr
  src/components/validator/src/constraints/email.cr
  src/components/validator/src/constraints/equal_to.cr
  src/components/validator/src/constraints/file.cr
  src/components/validator/src/constraints/greater_than.cr
  src/components/validator/src/constraints/greater_than_or_equal.cr
  src/components/validator/src/constraints/image.cr
  src/components/validator/src/constraints/ip.cr
  src/components/validator/src/constraints/is_false.cr
  src/components/validator/src/constraints/is_nil.cr
  src/components/validator/src/constraints/is_true.cr
  src/components/validator/src/constraints/isbn.cr
  src/components/validator/src/constraints/isin.cr
  src/components/validator/src/constraints/issn.cr
  src/components/validator/src/constraints/less_than.cr
  src/components/validator/src/constraints/less_than_or_equal.cr
  src/components/validator/src/constraints/luhn.cr
  src/components/validator/src/constraints/negative.cr
  src/components/validator/src/constraints/negative_or_zero.cr
  src/components/validator/src/constraints/not_blank.cr
  src/components/validator/src/constraints/not_equal_to.cr
  src/components/validator/src/constraints/not_nil.cr
  src/components/validator/src/constraints/positive.cr
  src/components/validator/src/constraints/positive_or_zero.cr
  src/components/validator/src/constraints/range.cr
  src/components/validator/src/constraints/regex.cr
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Labels: component:validator, kind:documentation

#486 Additional `RequestBody` annotation properties
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/athena.cr
  src/components/framework/src/controller/value_resolvers/interface.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
  src/components/framework/src/controller/value_resolvers/uuid.cr
  src/components/framework/src/ext/routing.cr
Labels: component:framework, kind:enhancement, kind:documentation

#487 Only return exit code 1, if that's what the spec run did
  scripts/test.sh
Labels: kind:bug, kind:infrastructure

#488 More robust console color support logic
  src/components/console/spec/helper/abstract_question_helper_test_case.cr
  src/components/console/spec/output/io_spec.cr
  src/components/console/spec/spec_helper.cr
  src/components/console/src/output/io.cr
Labels: component:console, kind:enhancement

#489 Add `ACON::Output::Verbosity::SILENT` verbosity level
  src/components/console/spec/application_spec.cr
  src/components/console/spec/commands/complete_spec.cr
  src/components/console/spec/commands/list_spec.cr
  src/components/console/spec/fixtures/text/application_1.txt
  src/components/console/spec/fixtures/text/application_2.txt
  src/components/console/spec/fixtures/text/application_filtered_namespace.txt
  src/components/console/spec/fixtures/text/application_run1.txt
  src/components/console/spec/fixtures/text/application_run2.txt
  src/components/console/spec/fixtures/text/application_run3.txt
  src/components/console/spec/fixtures/text/application_run5.txt
  src/components/console/spec/output/null_spec.cr
  src/components/console/spec/output/output_spec.cr
  src/components/console/src/application.cr
  src/components/console/src/output/null.cr
  src/components/console/src/output/verbosity.cr
Labels: component:console, kind:feature, breaking

#490 Raise more accurate `ATHR::RequestBody` deserialization errors
  src/components/framework/spec/controller/value_resolvers/request_body_spec.cr
  src/components/framework/src/controller/value_resolvers/request_body.cr
Labels: component:framework, kind:enhancement

#491 Add request matchers for headers and query parameters
  src/components/framework/spec/request_matcher/header_spec.cr
  src/components/framework/spec/request_matcher/query_parameter_spec.cr
  src/components/framework/src/request_matcher/header.cr
  src/components/framework/src/request_matcher/query_parameter.cr
Labels: component:framework, kind:feature

#492 Add and make `require_tld: true` the default for `AVD::Constraints::URL` constraint
  src/components/validator/spec/constraints/url_validator_spec.cr
  src/components/validator/src/constraints/url.cr
Labels: component:validator, kind:feature, breaking

#493 Add missing triple backticks to some constraint example codeblocks
  src/components/validator/src/constraints/size.cr
  src/components/validator/src/constraints/unique.cr
  src/components/validator/src/constraints/url.cr
Labels: kind:bug, component:validator, kind:documentation

#494 Bump min Crystal version to `~> 1.14` for `framework` component
  src/components/framework/shard.yml
Labels: component:framework, kind:maintenance
