Repository athena-framework/athena, pull requests merged in 2025-02, with the labels that each got.

#514 Fix serialization of value when its type is different type than the ivar
  src/components/serializer/spec/athena-serializer_spec.cr
  src/components/serializer/spec/models/accessor.cr
  src/components/serializer/src/serializable.cr
Labels: kind:bug, component:serializer

#516 Prevent defining `ASPEC::TestCase#initialize` methods that accepts arguments/blocks
  src/components/framework/spec/spec/web_test_case_spec.cr
  src/components/spec/spec/compiler_spec.cr
  src/components/spec/src/test_case.cr
Labels: kind:bug, component:spec

#519 Fix incorrectly aligned block
  src/components/console/spec/helper/formatter_spec.cr
  src/components/console/src/helper/formatter.cr
Labels: kind:bug, component:console

#521 Fix typo in `Assert::Blank` and `Assert::ISSN` constraints
  src/components/validator/src/constraints/blank.cr
  src/components/validator/src/constraints/issn.cr
Labels: kind:bug, component:validator, kind:documentation

#522 Script Improvements
  scripts/diff.sh
  scripts/release.sh
Labels: kind:enhancement, kind:infrastructure

#523 Release time
  src/components/console/CHANGELOG.md
  src/components/console/shard.yml
  src/components/console/src/athena-console.cr
  src/components/dependency_injection/CHANGELOG.md
  src/components/dependency_injection/shard.yml
  src/components/dependency_injection/src/athena-dependency_injection.cr
  src/components/framework/CHANGELOG.md
  src/components/framework/shard.yml
  src/components/framework/src/athena.cr
  src/components/serializer/CHANGELOG.md
  src/components/serializer/shard.yml
  src/components/serializer/src/athena-serializer.cr
  src/components/spec/CHANGELOG.md
  src/components/spec/UPGRADING.md
  src/components/spec/shard.yml
  src/components/spec/src/athena-spec.cr
Labels: component:framework, component:serializer, component:console, component:dependency-injection, component:spec, kind:release

#524 Fix `framework` changelog entry
  src/components/framework/CHANGELOG.md
Labels: component:framework
